{% load lecturer %}
{% load helpers %}
<nav class="navbar" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'amu_bachelor_thesis:home' %}">
            <h1>AMU Bachelor Thesis</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'amu_bachelor_thesis:search_engine' %}">Wyszukiwarka tematów</a>
            {% endif %}
            {% if user.is_student %}
                <a class="navbar-item" href="{% url 'amu_bachelor_thesis:manage_thesis_propositions' %}">Proponowanie tematu</a>
            {% endif %}
            {% if user.is_lecturer %}
                <a class="navbar-item" href="{% url 'amu_bachelor_thesis:lecturer_manage_thesis_propositions' %}">
                    Propozycje studentów ({% count_thesis_propositions user.lecturer %})
                </a>
            {% endif %}
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-end">
            {% if user.is_authenticated %}
                {% has_notifications user as show_notification_dot %}
                <a href="{% url 'amu_bachelor_thesis:notifications' %}" id="big-notification-dot-container" class="navbar-item {% if show_notification_dot %}hidden{% endif %}">
                    <div class="notification-dot big">
                        {% get_number_of_notifications user %}
                    </div>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">{{ user }}</a>
                    <div class="navbar-dropdown is-right">
                        {% if user.is_student %}
                            <a class="navbar-item" href="{% url 'amu_bachelor_thesis:student_profile' user.id %}">Profil</a>
                        {% elif user.is_lecturer %}
                            <a class="navbar-item" href="{% url 'amu_bachelor_thesis:lecturer_profile' user.id %}">Profil</a>
                            <a class="navbar-item" href="{% url 'amu_bachelor_thesis:manage_thesis' %}">Zarządzanie tematami</a>
                        {% endif %}
                        <a class="navbar-item" href="{% url 'amu_bachelor_thesis:notifications' %}">
                            <span>Powiadomienia</span>
                            <div id="small-notification-dot" class="notification-dot small {% if show_notification_dot %}hidden{% endif %}">
                                {% get_number_of_notifications user %}
                            </div>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'amu_bachelor_thesis:logout' %}">
                            Wyloguj się
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'amu_bachelor_thesis:login' %}">
                            Zaloguj się
                        </a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</nav>